name: Flutter Release Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      FLUTTER_CHANNEL: stable
      FLUTTER_VERSION: 3.35.3

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: ${{ env.FLUTTER_VERSION }}

    - name: Install dependencies
      run: flutter pub get

    - name: Setup .env
      run: |
        echo "GOOGLE_SERVER_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}" > .env

    - name: Run Flutter Analyze
      run: flutter analyze

    - name: Run Tests
      run: flutter test

    - name: Decode google-services.json
      run: |
        echo "${{ secrets.GOOGLE_SERVICES_ENC_JSON }}" | base64 --decode > android/app/google-services.json

    - name: Build APK release
      run: flutter build apk --release --target-platform android-arm,android-arm64,android-x64

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release-apk
        path: build/app/outputs/flutter-apk/app-release.apk
